*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}

a:hover{
    cursor: pointer;
}

header{
    background-color: #255ee9;
}
.old-header{
    padding: 10px 20%;
}
.container{
    display: flex;
    margin:0 auto;
}
.button {
    border-radius: 50px;
    line-height: 42px;
    padding: 5px 15px;
}

.top-header{
    background-color: #255ee9;
    width: 100%;
    justify-content: space-between;    
}

.logo{
    padding: 5px;
}

.logo img{
    height: 100%;
}

nav li{
    display: inline-block;
    color: whitesmoke;
    margin: 0 15px;
}

nav ul{
    list-style: none;
    padding: 15px;
    
}

.login{
    background-color: whitesmoke;
}

.jumbotron{
    background-color: #00008b;
    padding: 180px 30%;
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    line-height: 1.5em;
    align-items: center;
}

.jumbotron-content{
    align-self: center;
}

.jumbotron h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;    
}

.jumbotron .button{
    display: inline-block;
    margin: 15px;
}

.jumbo-buttons{
    padding: 40px 0;
}

.jumbotron .jumbo-button1{
    background-color: whitesmoke;
}

.jumbotron .jumbo-button2{
    background-color: #23272a;
}
.jumbotron .jumbo-button2 a{
    color:whitesmoke
}
/*  MAIN  */
.central{
    width: 800px;
    margin: auto;
}

.row2, .row4{
    background-color: whitesmoke;
    padding: 30px 20%;
    padding-top: 30px;
}

.row3, .row5{
    background-color: #f6f6f6;
    padding: 30px 20%;
    padding-top: 30px;
}

.big{
    flex-basis: 60%;
}

.small{
    flex-basis: 40%;
    margin-top: 30px;
}

.small h2{
    font-size: 48px;
    line-height: 1.5em;
}

.content-small{
    line-height: 1.5em;
}

.ultra{
    background-color: #228b22;
    height: 600px;
    width: 100%;
}

footer{
    background-color: #23272a
}

.foot1{
    padding: 10px 20% 20px;
}
.item-footer{
    /* height: 600px; */
    border-style: dashed;
}
.special{
    background-color: #f08080;
    flex-basis: 30%;
}
.super{
    flex-basis: 70%;
}
.inside{
    background-color: #20b2aa;
    flex-basis: 25%;
    border-style: dashed;
    border-color: whitesmoke;
}

.footer2{
    border-top: 2px;
    border-color:whitesmoke;
    padding:20px 20% 0 20%;
}

.footer-content{
    justify-content: space-between;
    background-color: #7fffd4;
    padding: 10px 0
}

.logo2 {
    padding: 10px;
}
.bottom-content{
    background-color: #ffb6c1;
    border-style: dashed;
}

